.header {
  width: 100vw;
  height: 70vh;
  background-color: var(--color-primary-1);
  display: flex;

  .left {
    width: 50%;
    height: 100%;
    .header-img {
      transform: translateY(100px);
      margin: auto;
      width: 75%;
      height: 100%;
      background: url(../assests/images/header.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin-top: 1rem;
      width: 25%;
      font-family: Lusitana, sans-serif;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }
}
