.underline {
  width: 40%;
  height: 1.8px;
  background-color: var(--color-black);
}

.boxDesign {
  border: 2px solid var(--color-black);
  width: 20rem;
  height: 12rem;
  padding: 0 3rem;
  font-family: HalloEuroboy, sans-serif;
  color: var(--color-black);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3.5rem;
    position: absolute;
    font-family: Tahu, sans-serif;
    font-weight: 300;
    background-color: var(--color-primary-1);
    padding: 0 1rem;
    transform: translateY(-6rem);
  }
  .underline {
    height: 4px;
  }
}

.btn {
  margin-top: 1rem;
  // display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1.7em;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--color-black);
    background-color: transparent;
    border: 2px solid var(--color-black);
  }
}

.heading-1 {
  font-family: Tahu, sans-serif;
  font-size: 3rem;
  margin: auto;
  color: var(--color-primary-2);
  & + .underline {
    margin: auto;
    width: 5rem;
    height: 2.5px;
    background-color: var(--color-primary-2);
  }
}
