// colors
:root {
  --color-primary-1: #faeada;
  --color-primary-2: #daa979;
  --color-white: #fff;
  --color-black: #707070;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //62.5% = 10px, it makes working with rem more easier
  color: var(--color-black);
}
body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// importing custom fonts
@font-face {
  font-family: Ballerina;
  src: url(../assests/fonts/Ballerina.ttf);
}
@font-face {
  font-family: HalloEuroboy;
  src: url(../assests/fonts/HalloEuroboy.ttf);
}
@font-face {
  font-family: Lusitana;
  src: url(../assests/fonts/Lusitana.ttf);
}
@font-face {
  font-family: Tahu;
  src: url(../assests/fonts/Tahu.ttf);
}

// importing modules
@import "./mixins"; //it includes media queries
@import "./utility"; //utility classes
@import "./nav";
@import "./header";
@import "./showcase";
@import "./about";
@import "./gallery";
@import "./footer";
